/* .product-wrap {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    box-sizing: border-box;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    color: #333;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 28px;
    margin: 24px 0 0;
    font-weight: 700;
}

.product-detail {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 24px -25px 0;
} */